{% extends 'base.html' %}
{% load custom_filter %}
{% block title %}
Home
{% endblock %}

{% block body_block %}
{% for blog in blogs %}
<h2> {{ blog.blog_title }} </h2>
<br>
<i>
  <h6>Published On: {{ blog.publish_date }}</h6>
</i>

<!-- <i>
  <h6>Updated On: {{ blog.update_date }}</h6>
</i> -->
<div class="row">
  <div class="col-sm-4">

    <img src="/blogspotn/Blogging/media/ {{ blog.blog_image }}" alt="{{ blog.blog_title }}"
      style="height:300px;width: 300px; position: relative;" title="{{ blog.blog_title }}">
  </div>

  <div class="col-sm-8">
    <p>{{ blog.blog_content|range_filter|linebreaks }}
      {% if user.is_authenticated %} 
      <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}">Read More</a>
     
      {% else %}
      <a href="{% url 'App_Login:signup'  %}">Read More</a>
      {% endif %}
    </p>
    <h6>Posted by : <a href="#">{{ blog.author }}</a> </h6>
    <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>

  </div>
</div>
{% if user.is_authenticated %}
<a href="{% url 'App_Blog:edit_blog' pk=blog.pk %}" class="btn btn-info btn-sm">Edit</a>
{% endif %}
<hr>
{% endfor %}
{% endblock %}